.editProfile__form{
  background-color: #002c58ca;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
}

.editProfile__image--img{
  border-radius: 41px;
  width: 80%;
  height: 20%;
  padding: 3px;
  border-style: groove;
}

.editProfile__info{
  display: flex;
  flex-direction: column;
}

.editProfile__text{
  border-radius: 10px;
  height: 28px;
  border-style: none;
  margin-bottom: 5px;
}

.editProfile__button{
  width: 50%;
  height: 28px;
  border-radius: 10px;
  border-style: none;
}

.editProfile__button:hover{
  background-color: #64edbc;
}

@media(min-width: 1200px){
  .editProfile__form{
    width: 50%;
    align-self: center;
    position: absolute;
    top: 26%;
    left: 48%;
    transform: translate(-50%, -50%);
  }
}
