.editProfile__form{
  background-color: #002c58ca;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
  line-height: 45px;
}

.editProfile__image{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editProfile__image--img{
  border-radius: 90px;
  height: 79px;
  width: 30%;
  border-style: groove;
  margin-bottom: 10px;
}

.editProfile__image--select{
  width: 50%;
}

.editProfile__info{
  display: flex;
  flex-direction: column;
}

.editProfile__userData{
  color:#8d8d8d;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.editProfile__text{
  border-radius: 10px;
  height: 28px;
  border-style: none;
  margin-bottom: 5px;
}

.editProfile__button{
  width: 50%;
  height: 28px;
  border-radius: 10px;
  border-style: none;
  margin-top: 26px;
}

.editProfile__button:hover{
  background-color: #64edbc;
}

@media(min-width: 1200px){
  .editProfile__form{
    width: 50%;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
  }
}
