.containerQrReader__library{
  width: 50%;
}

.qrRead{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.qrRead__container{
  display: flex;
  flex-direction: column;
  background-color: #002c58ca;
}

.qrRead__text{
  color: white;
  font-size: 20px;
  font-weight: 200;
}

@media(min-width:1200px){
  .qrRead__container{
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .qrRead__image{
    width: 27%;
  }
}
