.LogInContainer{
  display: flex;
  flex-direction: column;
  width: 114%;
  height: 400px;
  justify-content: center;
  background-color: #002c58ca;
}

.LogInContainer__email{
  display: flex;
  justify-content: space-around;
}

.LogInContainer__password{
  display: flex;
  justify-content: space-around;

}
