@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.containerUsers{
  font-family: 'Montserrat', sans-serif;
  color: white;

}

.containerUsers__title{
  padding: 28px;
}

.containerUsers__table {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.containerUsers__table--head {
  width: 25%;
  text-align: left;
  vertical-align: top;
  background-color: #002c58ca;
  height: 30px;
  border-radius: 10px;
  padding-left: 13px;
}


.containerUsers__table--info{
  padding: 11px;
  background-color: #002c58ca;

}

.containerUsers__table--buttonCss{
  padding: 28px;
  background-color: #001f3f;
  display: flex;
  width: 152px;
}

.containerUsers__table--button{
  border-style: none;
  border-radius: 10px;
  width: 159%;
  height: 25px;
}

.containerUsers__table--button:hover{
  background-color:#64edbc;
}

.containerUsers__table--buttonEmployee{
  border-style: none;
  border-radius: 10px;
  display: flex;
  height: 26px;
  width: 50%;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}

.containerUsers__table--buttonEmployee:hover{
  background-color:#64edbc;
}

@media(min-width:1200px){
  .containerUsers__table{
    align-items: center;
  }

  .containerUsers__table--head{
    width: 297px;
  }

  .containerUsers__table--btn{
    display: flex;
    justify-content: center;
    width: 86%;
  }

  .containerUsers__table--buttonEmployee{
    width: 13%;

  }
}


