@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

.menuOptionTop__header{
  width: 100%;
}

.menuOptionTop{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #002c58ca;
}

.menuOptionTop__header--image{
  border-radius: 41px;
  width: 16%;
  height: 20%;
}

.menuOption{
  background-color: #002c58ca;
  position: relative;
  top: 81px;
  left: 14px;
  width: 92%;
  height: 191px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

}

.menuOption__username{
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px;
}

.menuOption__buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4px;
}

.menuOption__add{
  width: 50%;
  height: 45px;
  border-radius: 10px;
  border-style: none;
  margin-bottom: 10px;
}

.menuOption__add:hover{
  background-color: #64edbc;
}

.menuOption__qr{
  width: 50%;
  height: 30%;
  border-radius: 10px;
  border-style: none;
  margin-bottom: 10px;
}

.menuOption__qr:hover{
  background-color:#64edbc;
}

.menuOption__list{
  width: 50%;
  height: 30%;
  border-radius: 10px;
  border-style: none;
  margin-bottom: 10px;
}

.menuOption__list:hover{
  background-color:#64edbc;
}

.menuOption__employees{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 102px;
  background-color: #2e2e6c;
  left: 14px;
  width: 92%;
  height: 142px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}

.menuOption___buttons--employees{
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.menuOption__buttons-title{
  color: white;
  padding: 10px;
  font-weight: 700;
}

.menuOption__add--employee{
  width: 90%;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  margin-bottom: 10px;
}

.menuOption__add--employee:hover{
  background-color:#64edbc;
}

.menuOption__profile{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 120px;
  background-color:  #002c58ca;
  left: 14px;
  width: 92%;
  height: 142px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.menuOption__add--profile{
  width: 40%;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  margin-bottom: 10px;
}

.menuOption__add--profile:hover{
  background-color:#64edbc;
}

@media(min-width:1200px){

  .menuOptionTop{
    flex-direction: row;
    width: 100%;
  }

  .menuOptionTop__header--image{
    width: 5%;
  }

  .menuOption{
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 29%;
    left: 29%;
    height: 194px;
    border-radius: 10px;
  }

  .menuOption__add{
    width: 100%;
  }

  .menuOption__qr{
    width: 100%;
  }

  .menuOption__list{
    width: 112%;
  }

  .menuOption__employees{
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 62%;
    left: 29%;
    height: 194px;
    border-radius: 10px;
  }

  .menuOption__profile{
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 29%;
    height: 194px;
    border-radius: 10px;
  }

}

